<%- include('../partials/header') %>

<form action="/skills" method="POST">
  <input type="text" name="skill">
  <input type="text" name="desc">
  <button type="submit">Save New Skill</button>
</form>
<br>
<a href="/skills">SKILLS</a>
|
<a href="/">HOME</a>

<%- include('../partials/footer') %>